@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Overall site styling */

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
}

/* START OF EXTERNAL CODE USED TO PUSH FOOTER TO 100% OF SCREEN SIZE
 * Clever Sticky Footer! https://css-tricks.com/a-clever-sticky-footer-technique/ 
*/
html, body {
  height: 100%;
}
/*
* END OF EXTERNAL CODE
*/

/* Header */
#sticky_title {
  background-color: #24d9f1;
  opacity: 80%;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color:#4d4c4f;
  margin: 5px;
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}

#title {
  display: flex;
  align-content: center;
  position: fixed;
  top: 2px;
  left: 60px;
}

label {
  font-size: 0.1vw;
  color: #24d9f1;
  position: fixed;
  top: -1;
  left: -100;
}

/* START OF EXTERNAL CODE USED TO BUILD NAVIGATION MENU
* Hamburger menu code by Erik Terwan https://codepen.io/erikterwan/pen/EVzeRP
*/
nav a {
  text-decoration: none;
  color: #4d4c4f;
  font-weight: bold;
  transition: color 0.3s ease;
  opacity: 100%;
}

nav a:hover {
  color: white;
  font-weight: bold;
  background-color: #4d4c4f;
  opacity: 100%;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #4d4c4f;
  opacity: 100%;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4d4c4f;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100px;
  margin: 0;
  padding: 0px;
  padding-top: 25px;
  
  background: #24d9f1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-150%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 5px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
} 
/*
* END OF EXTERNAL CODE
*/

/* Set up grid views for responsiveness */
/* Mobile view as standard */
.main_grid, .review_grid {
  display: grid;
  grid-template-columns: 1fr;
}  

/* Banner image */
#banner {
  background-image: url(../images/bannersml.png);
  height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main page content */

/* Light box */
.box1 {
  color: #4d4c4f;
  border-style: solid;
  border-width: 1px;
  border-color: #4d4c4f;
  margin: 5px;
  padding: 2px
}

/*Dark box*/
.box2 {
  color: #24d9f1;
  background-color: #4d4c4f;
  border-style: solid;
  border-width: 1px;
  border-color: #24d9f1;
  margin: 5px;
  padding: 2px;
}

/*Use to center and constrain images inside the grid*/
.div_pic {
  text-align: center;
}

/*To box in gallery pictures*/
.box2_pic {
  color: #24d9f1;
  background-color: #4d4c4f;
  border-style: solid;
  border-width: 1px;
  border-color: #24d9f1;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
  
.grid_pic {
  width: 100%;
  max-width: 600px;
}

#welcome_pic {
  float: left;
  margin: 5px;
}

/* Flex of requirement for splitting boxes into 2 columns */

.flex_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex_main_r {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

/* Styling for content inside services boxes */
.service {
  text-align: center;
  margin: 2px;
}

/* Styling for content on reviews page */
.review_h {
  text-align: center;
}

/* Footer */

footer {
  background-color: #24d9f1;
  color: #4d4c4f;
}

footer a {
  color: #4d4c4f;
  text-decoration: none;
}

.foot_pic {
  height: 50px;
}

/* START OF EXTERNAL CODE USED TO PUSH FOOTER TO 100% OF SCREEN SIZE
* Clever Sticky Footer! https://css-tricks.com/a-clever-sticky-footer-technique/
*/
body > footer {
  position: sticky;
  top: 100vh;
}
/*
* END OF EXTERNAL CODE
*/

/* RESPONSIVE CHANGES FOR SCREEN SIZES */

/* Hide large items on phone screens */
@media only screen and (max-width: 600px) {
  .mobile_hide, h1 {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .flex_main, .flex_main_r {
    flex-direction: row;
  }
  
  .review_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Logo increases for larger screens*/
  #logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 125px;
  }

  /* Banner image changes for larger screens */
  #banner {
    background-image: url(../images/banner2.png);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .review_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*Logo size increases for larger screens*/
  #logo {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 175px;
  }
    
  /* banner image changes for larger screens*/
  #banner {
    background-image: url(../images/banner2.png);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}